* {
    box-sizing: border-box;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    color:sandybrown;
}
#main-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(40, 90, 90);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
#user-input, #user-submit {
    text-align: center;
    padding: 6px;
    font-size: 16px;
}
#user-submit:hover {
    background-color:rgb(141, 140, 140);
}
#results-container {
    width: 300px;
    margin: 20px;
    padding: 20px;
}
.results {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: sandybrown;
    color: rgb(40, 90, 90);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}